<%- include("partials/header") %>

<h1>Contact</h1>
<p> <%= contact %>  </p>

<i class="fa-solid fa-angle-down"></i><br><br>
<a href="https://www.linkedin.com/in/uddipto-jana-910826257/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://github.com/uddiptojana10"><i class="fa-brands fa-github fa-2xl"></i></a>


<%- include("partials/footer") %>